


/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    overflow: hidden; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.box-shadow-outline {
    overflow: hidden;
    // KEEP TRACK OF THIS !
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}

.box-shadow-outline-flat {
    overflow: hidden;
    // KEEP TRACK OF THIS !
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}

.tooltip-status:hover {
    cursor: help;
}


