/* TOOLBAR ------------------------------------------------------------------ */
.toolbar {
    width: 100%;
    position: fixed;
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// * TOOLBAR CONTAINERS --------------------------------------------------------
.toolbar-container-left {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    width: 350px;
}


.logo-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.toolbar-container-centre {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 350px;
}

.toolbar-container-right {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    width: 350px;
}

.toolbar-background-filler {
    width: 100%;
    background-color: blue;
    overflow: hidden;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.main-container {
    display: flex;
    flex-flow: column;
    height: calc(100% - 64px); /* Change back to 100% */
    overflow-x: hidden;
}


// * LOGO BUTTON ---------------------------------------------------------------
.logo-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    background-color: red;
    font-size: 14px;
}

.logo-button:hover {
    cursor: pointer;
}

.logo-search-spacing {
    width: 50px;
}
