<!-- TOOLBAR -->
<span [ngClass]="{'dark-theme-mode': isDarkTheme}">
  <mat-toolbar class="toolbar box-shadow-outline-flat" *ngIf="showToolbar">
    <!-- Left -->
    <div class="toolbar-container-left">
      <!-- Logo -->
      <span class="logo-button" (click)="toolbar_button_handler('logo')">
        <img src="assets/images/logo.png" class="logo-container">
      </span>
    </div>
    
    <!-- Middle -->
    <!-- We don't actually need anything in the centre. -->
    
    <!-- Right -->
    <div class="toolbar-container-right">
      <!-- Settings -->
      <span class="round-background-container">
        <app-custom-button 
            [matMenuTriggerFor]="settingsMenu"
            [inputText]="settingsButtonText" 
            [config]='settingsButtonConfig' 
            (clickEvent)='toolbar_button_handler("settings")'>
        </app-custom-button>
      </span>

      <mat-menu #settingsMenu>
        <!-- Theme toggle switch -->
        <button mat-menu-item (click)="toolbar_button_handler('toggle-dark-mode')">
          <mat-icon>dark_mode</mat-icon>
          <span>Toggle Dark Mode</span>
        </button>
        <button mat-menu-item (click)="toolbar_button_handler('logout')">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
      </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <!-- Padding --> 
  <div class="toolbar-background-filler"
      [style.height]="toolbarBackgroundFillerHeight"
      *ngIf="showToolbar">
  </div> 

  <!-- Main container where all the magic happens -->
  <div class="main-container background-colour"
      [style.height]="mainBackgroundHeight"
      [style.offsetHeight]="toolbarBackgroundFillerHeight">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</span>



