.main-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    
    width: calc(800px - 16px - 16px);
    
    margin-left: 8px;
    margin-right: 8px;

    margin-bottom: 4px;
    margin-top: 4px;
}

.slider-label {
    width: 150px;
    font-weight: 500;
    font-family: 'Roboto';
}

.slider-config {
    // Subtract the label width, padding width and some margin
    width: calc(800px - 150px - 20px - 5px);
    
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.options-title {
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto';
    padding-top: 8px;
    padding-bottom: 8px;
}

.radio-option {
    margin-left: 10px;
}