<div class="main-container subcontainer-background-colour">
    <!-- EMA controls -->
    <div *ngIf="isTypeEMA">
        <!-- Title -->
        <div class="options-title">
            Exponential Moving Average (EMA)
        </div>

        <!-- Smoothing factor -->
        <div class="slider-container">
            <span class="slider-label">
                Smoothing Factor: {{emaSmoothingFactor}}
            </span>
            <!-- scroll bar -->
            <span>
                <mat-slider
                        class="slider-config"
                        [max]="emaSmoothingMax"
                        [min]="emaSmoothingMin"
                        [step]="emaSmoothingStep"
                        [thumbLabel]="emaSmoothingShowThumblabel"
                        [(ngModel)]="emaSmoothingFactor"
                        (change)="input_change_handler('ema')">
                </mat-slider>
            </span>
        </div>

        <!-- Number of periods -->
        <div class="slider-container">
            <span class="slider-label">
                Num. Periods: {{emaNumPeriods}}
            </span>
            <span>
                <mat-slider
                        class="slider-config"
                        [max]="emaNumPeriodsMax"
                        [min]="emaNumPeriodsMin"
                        [step]="emaNumPeriodsStep"
                        [thumbLabel]="emaNumPeriodsShowThumblabel"
                        [(ngModel)]="emaNumPeriods"
                        (change)="input_change_handler('ema')">
                </mat-slider>
            </span>
        </div>
    </div>

    <!-- SMA controls -->
    <div *ngIf="isTypeSMA">
        <!-- Title -->
        <div class="options-title">
            Simple Moving Average (SMA)
        </div>

        <!-- Number of periods -->
        <div>
            <span>
                Num. Periods: {{smaNumPeriods}}
            </span>
            <span class="slider-label">
                <mat-slider
                        class="slider-config"
                        [max]="smaNumPeriodsMax"
                        [min]="smaNumPeriodsMin"
                        [step]="smaNumPeriodsStep"
                        [thumbLabel]="smaNumPeriodsShowThumblabel"
                        [(ngModel)]="smaNumPeriods"
                        (change)="input_change_handler('sma')">
                </mat-slider>
            </span>
        </div>
    </div>

    <!-- Bollinger controls -->
    <div *ngIf="isTypeBollinger">
        <!-- Title -->
        <div class="options-title">
            Bollinger bars (BOLU & BOLD)
        </div>

        <!-- Moving average type -->
        <div [formGroup]="MATypeFormGroup">
            <span>Moving average type</span>
            <mat-radio-group formControlName="movingAverageType">
                <mat-radio-button value="sma" class="radio-option">
                    Simple
                </mat-radio-button>
                <mat-radio-button value="ema" class="radio-option">
                    Exponential
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- SMA controls -->
        <div *ngIf="bollingerMAType == 2">
            <!-- Number of periods -->
            <div class="slider-container">
                <span class="slider-label">
                    Num. Periods: {{smaNumPeriods}}
                </span>
                <span>
                    <mat-slider
                            class="slider-config"
                            [max]="smaNumPeriodsMax"
                            [min]="smaNumPeriodsMin"
                            [step]="smaNumPeriodsStep"
                            [thumbLabel]="smaNumPeriodsShowThumblabel"
                            [(ngModel)]="smaNumPeriods"
                            (change)="input_change_handler('bollinger')">
                    </mat-slider>
                </span>
            </div>            
        </div>

        <!-- EMA controls-->
        <div *ngIf="bollingerMAType == 1">
            <!-- Smoothing factor -->
            <div class="slider-container">
                <span class="slider-label">
                    Smoothing Factor: {{emaSmoothingFactor}}
                </span>
                <!-- scroll bar -->
                <span>
                    <mat-slider
                            class="slider-config"
                            [max]="emaSmoothingMax"
                            [min]="emaSmoothingMin"
                            [step]="emaSmoothingStep"
                            [thumbLabel]="emaSmoothingShowThumblabel"
                            [(ngModel)]="emaSmoothingFactor"
                            (change)="input_change_handler('bollinger')">
                    </mat-slider>
                </span>
            </div>

            <!-- Number of periods -->
            <div class="slider-container">
                <span class="slider-label">
                    Num. Periods: {{emaNumPeriods}}
                </span>
                <span>
                    <mat-slider
                            class="slider-config"
                            [max]="emaNumPeriodsMax"
                            [min]="emaNumPeriodsMin"
                            [step]="emaNumPeriodsStep"
                            [thumbLabel]="emaNumPeriodsShowThumblabel"
                            [(ngModel)]="emaNumPeriods"
                            (change)="input_change_handler('bollinger')">
                    </mat-slider>
                </span>
            </div>
        </div>

        <!-- Num Standard Deviations -->
        <div class="slider-container">
            <span class="slider-label">
                Num. Std Deviations: {{bollingerStdevs}}
            </span>
            <span>
                <mat-slider
                        class="slider-config"
                        [max]="bollingerStdevsMax"
                        [min]="bollingerStdevsMin"
                        [step]="bollingerStdevsStep"
                        [thumbLabel]="bollingerStdevsShowThumbLabel"
                        [(ngModel)]="bollingerStdevs"
                        (change)="input_change_handler('bollinger')">
                </mat-slider>
            </span>
        </div>
    </div>
</div>