<!-- Root of the login component -->
<div class="main-container">
    <div class="login-panel container-background-colour box-shadow-outline">
        <!-- Login Menu -->
        <div class="menu-container" *ngIf="showLogin">
            <!-- Title -->
            <div class="title">
                Login
            </div>

            <!-- Error message -->
            <div class="error-text-colour" *ngIf="showLoginErrorMessage">
                {{loginErrorMessage}}
            </div>

            <!-- Email -->
            <div class="input-spacing">
                <app-text-input-field
                        [config]="loginEmailConfig"
                        (formUpdate)="login_input_handler('email')">
                </app-text-input-field>
            </div>
            
            <!-- Password -->
            <div class="input-spacing">
                <app-text-input-field
                        [config]="loginPasswordConfig"
                        (formUpdate)="login_input_handler('password')">
                </app-text-input-field>
            </div>

            <!-- Buttons -->
            <div class="buttons-container-single" *ngIf="!showLoginSpinner">
                <!-- Login button -->
                <app-custom-button 
                        [inputText]="'Login'" 
                        [config]='loginButtonConfig' 
                        (clickEvent)='button_handler("login")'>
                </app-custom-button>

            </div>
            
            <!-- Login loading spinner -->
            <div class="buttons-container-single" *ngIf="showLoginSpinner">
                <app-loading-spinner
                        [progressSpinnerConfig]="loadingSpinnerConfig">
                </app-loading-spinner>
            </div>

            <mat-divider class="mat-divider mat-divider-soft-colour"></mat-divider>
            
            <div [style.margin-bottom]="'5px'"
                    [style.text-align]="'center'">
                Don't have an account? Create one by clicking the button below
            </div>

            <div class="buttons-container-single">
                <app-custom-button 
                        [inputText]="'Create Account'" 
                        [config]='showCreateAccountButtonConfig' 
                        (clickEvent)='button_handler("show-create")'>
                </app-custom-button>
            </div>
        </div>

        <!-- Create Account Menu -->
        <div class="menu-container" *ngIf="showCreateAccount">
            <!-- Title -->
            <div class="title">
                Create Account
            </div>

            <!-- Error message -->
            <div class="error-text-colour" *ngIf="showCreateAccountErrorMessage">
                {{createAccountErrorMessage}}
            </div>

            <!-- Firstname -->
            <div class="input-spacing">
                <app-text-input-field
                        [config]="createFirstnameConfig"
                        (formUpdate)="create_account_input_handler('firstname')">
                </app-text-input-field>
            </div>
            

            <!-- Surname -->
            <div class="input-spacing">
                <app-text-input-field
                        [config]="createSurnameConfig"
                        (formUpdate)="create_account_input_handler('surname')">
                </app-text-input-field>
            </div>
            

            <!-- Email -->
            <div class="input-spacing">
                <app-text-input-field
                        [config]="createEmailConfig"
                        (formUpdate)="create_account_input_handler('email')">
                </app-text-input-field>
            </div>
            

            <!-- Dob -->
            <div class="input-spacing">
                <app-text-input-field
                        [config]="createDobConfig"
                        (formUpdate)="create_account_input_handler('dob')">
                </app-text-input-field>
            </div>
            

            <!-- Password -->
            <div class="input-spacing">
                <app-text-input-field
                        [config]="createPasswordConfig"
                        (formUpdate)="create_account_input_handler('password')">
                </app-text-input-field>
            </div>
            

            <!-- Confirm password -->
            <div class="input-spacing">
                <app-text-input-field
                        [config]="createConfirmPasswordConfig"
                        (formUpdate)="create_account_input_handler('cpassword')">
                </app-text-input-field>
            </div>

            <!-- Buttons -->
            <div class="buttons-container" *ngIf="!showCreateAccountSpinner">
                <!-- Cancel -->
                <app-custom-button 
                        [inputText]="'Cancel'" 
                        [config]='cancelCreateAccountButtonConfig' 
                        (clickEvent)='button_handler("show-login")'>
                </app-custom-button>

                <!-- Submit -->
                <app-custom-button 
                        [inputText]="'Submit'" 
                        [config]='submitCreateAccountButtonConfig' 
                        (clickEvent)='button_handler("submit")'>
                </app-custom-button>
            </div>

            <!-- Create Account loading spinner -->
            <div class="buttons-container-single" 
                    *ngIf="showCreateAccountSpinner">
                <app-loading-spinner
                        [progressSpinnerConfig]="loadingSpinnerConfig">
                </app-loading-spinner>
            </div>
        </div>
    </div>
</div>
