.main-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.login-panel {
    width: calc(600px - 16px);
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-spacing {
    margin-bottom: 5px;
}

.title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
}

.menu-container {
    width: 300px
}

.buttons-container-single {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mat-divider {
    margin-top: 5px;
    margin-bottom: 5px;
}