.summary-limits, .title-limits {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.summary-text-area {
    width: 95%;
    resize: none;
    overflow: auto;
    line-height: 15px;
    font-size: 14px;
    padding-right: 20px;
}

.input-container {
    //background-color: var(--light-blue-ballerina);
    border-radius: 5px;
    display: flex;
    width: 100%;
    max-height: 350px;
    align-items: center;
    justify-content: flex-end;
}

.summary-char-limit, .title-char-limit {
    margin-left: 10px;
    //color: var(--pencil-lead);
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* INPUT CONTAINER ---------------------------------------------------------- */
.input-form-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* OTHER STUFF -------------------------------------------------------------- */
::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em;
    margin-top: -0.2em;
    margin-left: 10px;
}
