<div class="main-container container-background-colour box-shadow-outline">
    <!-- Title -->
    <div class="data-displayer-title">
        {{chartTitle}} : tsc{{originTsc}} -> tsc{{destTsc}} 
    </div>

    <!-- Indicators -->
    <div>

    </div>

    <!-- Top Buttons -->
    <div class="buttons-container">
        <!-- Prediction button -->
        <div *ngIf="showPredictionButton" class="prediction-button-container">
            <app-custom-button 
                    #predictionButtonRef
                    class="button-padding"
                    [inputText]="'tips_and_updates'" 
                    [config]='predictionButtonConfig' 
                    (clickEvent)='button_handler("pred")'>
            </app-custom-button>
        </div>
        <div *ngIf="!showPredictionButton" class="prediction-button-container">
            <app-loading-spinner 
                    [progressSpinnerConfig]="predictionSpinnerConfig">
            </app-loading-spinner>
        </div>

        <!-- 1 hour button -->
        <app-custom-button 
                #oneHourButtonRef
                class="button-padding"
                [inputText]="'1h'" 
                [config]='oneHourButtonConfig' 
                (clickEvent)='button_handler("1h")'>
        </app-custom-button>
        
        <!-- 6 hours button -->
        <app-custom-button
                #sixHoursButtonRef
                class="button-padding"
                [inputText]="'6h'" 
                [config]='sixHoursButtonConfig' 
                (clickEvent)='button_handler("6h")'>
        </app-custom-button>

        <!-- 12 hours button -->
        <app-custom-button 
                #twelveHoursButtonRef
                class="button-padding"
                [inputText]="'12h'" 
                [config]='twelveHoursButtonConfig' 
                (clickEvent)='button_handler("12h")'>
        </app-custom-button>
        
        <!-- 24 hours button -->
        <app-custom-button 
                #oneDayButtonRef
                class="button-padding"
                [inputText]="'1d'" 
                [config]='dayButtonConfig' 
                (clickEvent)='button_handler("1d")'>
        </app-custom-button>

    </div>

    <!-- Chart -->
    <div *ngIf="showChartData">
        <ngx-charts-line-chart
            [view]="view"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="multi"
            [customColors]="chartColours"
            (select)="on_select($event)"
            (activate)="on_activate($event)"
            (deactivate)="on_deactivate($event)">
        </ngx-charts-line-chart>
    </div>
    

    <!-- Loading spinner -->
    <div class="chart-data-loading-container" *ngIf="!showChartData">
        <!-- Spinner -->
        <div class="spinner-container">
            <app-loading-spinner 
                    [progressSpinnerConfig]="chartLoadingSpinnerConfig" 
                    #chartLoadingSpinner>
            </app-loading-spinner>
        </div>
        <!-- Message -->
        <div class="loading-message-container">
            {{chartLoadingMessage}}
        </div>
    </div>

    <!-- Bottom Buttons -->
    <div class="buttons-container">
        <!-- Exponential Moving Average -->
        <app-custom-button 
                #emaButtonRef
                class="button-padding"
                [inputText]="'EMA'" 
                [config]='EMAButtonConfig' 
                (clickEvent)='button_handler("ema")'>
        </app-custom-button>
        
        <!-- Simple moving average -->
        <app-custom-button 
                #smaButtonRef
                class="button-padding"
                [inputText]="'SMA'" 
                [config]='SMAButtonConfig' 
                (clickEvent)='button_handler("sma")'>
        </app-custom-button>
        
        <!-- Bollinger index -->
        <app-custom-button
                #bollingerButtonRef
                class="button-padding"
                [inputText]="'BOLI'" 
                [config]='BOLIButtonConfig' 
                (clickEvent)='button_handler("boli")'>
        </app-custom-button>
        
        <!-- Close button -->
        <app-custom-button 
                class="button-padding"
                [inputText]="'Close'" 
                [config]='closeButtonConfig' 
                (clickEvent)='button_handler("close")'>
        </app-custom-button>
    </div>

    <!-- Submenu -->
    <div *ngFor="let submenu of listOfSubmenus" class="submenus-container">
        <app-data-displayer-submenu [subMenuInput]="submenu"
                (subMenuStateChange)="submenu_state_change_handler($event)">
        </app-data-displayer-submenu>
    </div>
</div>
