.main-container {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(800px - 16px);
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 3px;
    margin-bottom: 10px;
}

.data-displayer-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;    
    padding-top: 5px;
    padding-bottom: 5px;
}

.button-padding {
    margin-left: 5px;
}

.prediction-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Spinner container -----------------------------------------------------------

.chart-data-loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.spinner-container {
    padding: 10px;
}

.loading-message-container {
    font-weight: 500;
    font-family: 'Ubuntu';
    font-size: 16px;
}

// Submenus --------------------------------------------------------------------

.submenus-container {
    width: calc(800px - 16px);
    display: flex;
    align-items: center;
    justify-content: center;
}