<div class="main-container box-shadow-outline" *ngIf="isBrowser">
    <agm-map class="agm-map-style"
            [latitude]="initialLatitude"
            [longitude]="initialLongitude"
            [minZoom]="minimumZoom"
            [streetViewControl]="false"
            [disableDefaultUI]="true"
            (mapReady)="map_ready_handler($event)"
            (boundsChange)="bounds_change_handler($event)"
            (zoomChange)="zoom_change_handler($event)"
            (idle)="idle_change_handler($event)">
        <!-- Chunk Debug Overlay -->
        <span *ngFor="let triangle of testTriangle">
            <agm-polygon
                    strokeWeight="1.5"
                    fillOpacity="0.3"
                    [paths]="triangle" 
                    (click)="click_handler(triangle)">
            </agm-polygon>
            
            <span *ngFor="let marker of triangle">
                <agm-marker [latitude]="marker.lat" [longitude]="marker.lng">
                    <agm-info-window [disableAutoPan]="true" [isOpen]="false">
                        Lat: {{marker.lat}}, Lng: {{marker.lng}}
                    </agm-info-window>
                </agm-marker>
            </span>
        </span>

        <ng-container *ngFor="let intersec of intersections" >
            <agm-polyline *ngFor="let arm of intersec.arms" [strokeColor]="arm.colour"
                    [strokeWeight]="'8'"
                    (lineMouseOver)="polyline_mouse_over_handler(intersec.tsc, arm.nextTsc)"
                    (lineMouseOut)="polyline_mouse_out_handler(intersec.tsc, arm.nextTsc)"
                    (lineClick)="polyline_mouse_click_handler(intersec.tsc, arm.nextTsc)">
                <ng-container *ngFor="let step of arm.route.steps">
                    <ng-container *ngFor="let coord of step.coords">
                        <agm-polyline-point [latitude]="coord.lat" 
                                [longitude]="coord.lng">
                        </agm-polyline-point>
                    </ng-container>
                </ng-container>
            </agm-polyline>
        </ng-container>
        
    </agm-map>

    <!-- Debug UI -->
    <div class="debug-ui-container">
        <div class="debug-menu-item-container">
            DEBUG MENU: ON
        </div>
        <!-- Width -->
        <div class="debug-menu-item-container">
            RSW: {{DEBUG_currentScreenWidth}} {{DEBUG_currentScreenWidthUnits}}
        </div>

        <!-- Height -->
        <div class="debug-menu-item-container">
            RSH: {{DEBUG_currentScreenHeight}} {{DEBUG_currentScreenHeightUnits}}
        </div>

        <!-- LatLng -->
        <div class="debug-menu-item-container">
            LLNG: {{DEBUG_llng}}°
        </div>

        <div class="debug-menu-item-container">
            RLNG: {{DEBUG_rLng}}°
        </div>

        <!-- Road detail -->
        <div class="debug-menu-item-container">
            RD: {{DEBUG_roadDetail}}
        </div>

        <!-- Current zoom level of the camera -->
        <div class="debug-menu-item-container">
            ZOOM: {{currentZoomLevel}}
        </div>

        <!-- Current Computing task -->
        <div class="debug-menu-item-container">
            CCT: {{DEBUG_currentComputingTask}}
        </div>
        
        <!-- Number of chunks loaded -->
        <div class="debug-menu-item-container">
            #CL: {{DEBUG_numChunksLoaded}} Chunks
        </div>
    </div>
</div>

<!-- Buttons to go with the editor -->
<div class="refresh-button-container">
    <div class="debug-buttons-container">
        <app-custom-button 
                #refreshButtonRef
                [inputText]="'Refresh Routes'" 
                [config]='DEBUG_toggleChunkLoadingButtonConfig' 
                (clickEvent)='button_handler("refresh")'>
        </app-custom-button>
    </div>

    <!-- Spinner to show loading progress -->
    <div class="loading-spinner-container" *ngIf="showRefreshSpinner">
        <app-loading-spinner 
                [progressSpinnerConfig]="chunkLoadingSpinnerConfig">
        </app-loading-spinner>
    </div>
</div>

