// * AGM -----------------------------------------------------------------------
.main-container {
    position: relative;
    margin-bottom: 8px;
}

.agm-map-style {
    height: 600px;
    width: 800px;
    
}

.debug-ui-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 99;
    pointer-events: none;
}

.debug-menu-item-container {
    background-color: rgba(0,0,0,0.45);
    color: white;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;

}

// * NEAR CHUNK ----------------------------------------------------------------

.near-chunk-container {
    background-color: rgba(0,0,0,0.2);
}

.intersection-style {
    color: red;
    stroke: red;
}

.refresh-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.loading-spinner-container {
    margin-left: 10px;
}