.main-container {
    width: 100%;
}

// * REGULAR BUTTON ------------------------------------------------------------

.display-button-style {
    width: 100%;
    height: 36px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-weight: 500;
}

.button-icon-style {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// * ICON BUTTON ---------------------------------------------------------------

.display-icon-style {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-weight: 500;
}

// * TOOLBAR BUTTON ------------------------------------------------------------

.display-toolbar-button {
    width: 40px;
    height:40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-user-select: none;             /* User selection highlight fix */
    -webkit-user-select: none;
    user-select: none;
}

.toolbar-icon-style {
    display: flex;
    align-items: center;
    justify-content: center;
}
