.main-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

// * MAP -----------------------------------------------------------------------

.map-container {
    margin-top: 10px;
    border-radius: 3px;
    overflow: hidden;
}

// * DATA DISPLAYER ------------------------------------------------------------

.data-displayer-container {
    margin-top: 10px;
}