<div class="main-container">
    <!-- The map -->
    <div class="map-container">
        <app-map
                #mapRef 
                (routeClickEvent)="route_click_handler($event)">
        </app-map>
    </div>
    <!-- Add metric button -->

    <!-- Data Displayer -->
    <div class="data-displayer-container" *ngIf="showDataDisplayer">
        <app-data-displayer (closeRequest)="close_data_displayer_handler()" 
                #dataDisplayerRef>
        </app-data-displayer>
    </div>
</div>
